# 11.  최적 군집화 중 가중치를 부여하여 가장 취약한 10개 지역 선정

In [236]:
import pandas as pd
from pandas import DataFrame
import numbers
import math
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [237]:
raw_df=pd.read_csv("grade2.csv", encoding='euc-kr') # 선택한 군집 파일

In [238]:
raw_df.head(3)

,Unnamed: 0,name,busStop_distance,hospital_distance,store_distance,welfare_distance,library_distance,theater_distance,busTime_mean,aged_population_ratio,cluster_grade,X,Y
0,0,대성경로당,0.47455,2.47180,3.34724,2.20759,2.54005,4.05511,141.0,0.278886,2,127.177425,35.794872
1,1,은석경로당,0.36867,4.21099,4.81945,3.66561,4.26504,5.53680,141.0,0.278886,2,127.196743,35.795777
2,2,원색장경로당,0.40590,3.54271,4.06195,2.91719,3.59581,4.75625,141.0,0.278886,2,127.189840,35.800129

### minmaxScaler

In [239]:
from sklearn.preprocessing import MinMaxScaler

In [240]:
cluster_df=raw_df.drop(['name', 'Unnamed: 0', 'cluster_grade', 'X', 'Y'], inplace=False, axis=1)

In [241]:
cluster_df.head(3)

,busStop_distance,hospital_distance,store_distance,welfare_distance,library_distance,theater_distance,busTime_mean,aged_population_ratio
0,0.47455,2.47180,3.34724,2.20759,2.54005,4.05511,141.0,0.278886
1,0.36867,4.21099,4.81945,3.66561,4.26504,5.53680,141.0,0.278886
2,0.40590,3.54271,4.06195,2.91719,3.59581,4.75625,141.0,0.278886

In [242]:
# 변수의 서로 다른 값을 표준화하기 위해 minmax 실행
scaler=MinMaxScaler()
scaler.fit(cluster_df)
df_scaled=scaler.transform(cluster_df)

In [243]:
df_scaled=pd.DataFrame(df_scaled)
df_scaled.columns=cluster_df.columns

In [ ]:
df_scaled

In [245]:
# 상관계수를 토대로 가중치 부여

In [246]:
# 가중치계산을 위해 0 -> 0.000001
df=df_scaled.replace(0, 0.000001)

In [247]:
# 상관계수를 토대로 가중치 부여

In [248]:
# 상관계수
welfare=0.98; library=0.96; theater=0.84;
# 문화서비스는 하나의 영역으로 처리
service=(welfare+library+theater)/3
busStop=0.79; hospital=0.82; store=0.91
busTime=0.51; age=0.97

In [249]:
# 가중치 비율
total=service+busStop+hospital+store+busTime+age

service=service/total
busStop=busStop/total
hospital=hospital/total
store=store/total
busTime=busTime/total
age=age/total

service=service/3

In [250]:
print(service, busStop, hospital, store, busTime, age)

0.06269733874605322 0.16035182679296348 0.16644113667117724 0.18470906630581868 0.10351826792963464 0.19688768606224627

In [251]:
# 가중치 dataframe
weight=pd.Series({"busStop":busStop, "hospital":hospital, "store":store, "welfare":service, "library":service, "theater":service, "busTime":busTime, "age":age})

In [252]:
weight=pd.DataFrame(weight)
weight.columns=['weight']

In [253]:
weight

            weight
busStop   0.160352
hospital  0.166441
store     0.184709
welfare   0.062697
library   0.062697
theater   0.062697
busTime   0.103518
age       0.196888

In [256]:
# 가중치 곱한 값
a=df['busStop_distance']*busStop
b=df['hospital_distance']*hospital
c=df['store_distance']*store
d=df['welfare_distance']*welfare
e=df['library_distance']*library
f=df['theater_distance']*theater
g=df['busTime_mean']*busTime
h=df['aged_population_ratio']*age

In [257]:
# 가중치 곱한 최종
final=pd.concat([a,b,c,d,e,f,g,h], axis=1, sort=True)
final

,busStop_distance,hospital_distance,store_distance,welfare_distance,library_distance,theater_distance,busTime_mean,aged_population_ratio
0,1.003896e-01,8.911704e-02,1.036264e-01,2.031744e-01,5.147950e-01,3.605284e-01,2.598393e-02,1.968877e-01
1,7.705272e-02,1.558711e-01,1.572482e-01,3.805240e-01,8.857415e-01,5.324787e-01,2.598393e-02,1.968877e-01
2,8.525854e-02,1.302210e-01,1.296581e-01,2.894882e-01,7.418284e-01,4.418958e-01,2.598393e-02,1.968877e-01
3,1.591572e-02,1.664411e-01,1.847091e-01,4.737371e-01,9.600000e-01,5.874795e-01,2.598393e-02,1.968877e-01
4,9.872552e-02,1.295320e-01,1.312749e-01,2.953560e-01,7.485915e-01,4.457417e-01,2.598393e-02,1.968877e-01
5,9.396028e-03,9.478802e-02,1.000679e-01,1.889818e-01,5.390561e-01,3.591857e-01,2.598393e-02,1.968877e-01
6,1.603518e-01,6.724761e-02,9.129081e-02,1.702265e-01,3.975258e-01,2.935639e-01,8.793348e-02,1.968877e-01
7,2.303052e-02,9.196232e-02,9.849630e-02,1.839022e-01,5.238354e-01,3.553955e-01,2.598393e-02,1.968877e-01
8,8.464360e-02,3.918136e-02,1.088884e-01,3.920102e-01,7.309645e-01,3.823992e-01,6.358224e-02,1.057362e-01
9,1.603518e-07,5.885034e-02,1.098933e-01,4.035877e-01,8.020705e-01,3.979139e-01,3.679588e-02,1.057362e-01
10,1.603518e-07,5.885034e-02,1.098933e-01,4.035877e-01,8.020705e-01,3.979139e-01,3.679588e-02,1.057362e-01
11,9.124925e-03,7.371770e-02,1.286717e-01,4.709759e-01,9.424418e-01,4.642343e-01,1.035183e-01,1.057362e-01
12,4.256315e-02,8.823924e-02,7.147070e-02,2.913116e-01,6.172865e-01,2.966985e-01,5.602362e-02,1.057362e-01
13,2.387689e-02,9.629644e-02,7.934564e-02,3.170804e-01,6.636905e-01,3.212024e-01,5.602362e-02,1.057362e-01
14,3.307455e-02,1.486007e-02,3.896312e-02,1.837307e-01,2.731752e-01,4.599067e-03,1.614870e-02,3.614568e-02
15,2.128708e-02,1.664411e-07,1.847091e-07,5.765243e-02,8.282369e-02,5.622746e-02,2.272167e-02,3.614568e-02
16,1.157146e-02,2.435967e-02,2.128721e-02,1.231103e-01,2.116128e-01,3.180703e-02,7.851229e-03,3.614568e-02
17,2.516848e-02,1.074549e-02,4.471535e-02,2.033544e-01,2.760223e-01,8.400000e-07,1.596246e-02,3.614568e-02
18,1.439710e-02,8.298893e-02,1.033168e-01,5.060269e-01,6.391477e-01,1.896561e-01,6.197738e-03,3.614568e-02
19,4.718292e-02,8.308988e-03,1.451807e-03,9.800000e-07,9.755626e-02,1.987742e-01,4.324008e-02,9.831294e-02
20,4.922611e-02,1.524120e-02,1.921586e-02,1.157732e-01,5.431978e-02,3.271744e-01,3.162622e-02,9.831294e-02
21,2.427803e-02,1.236714e-02,9.192711e-03,1.598484e-01,2.317515e-02,2.895440e-01,1.201744e-02,9.831294e-02
22,2.819690e-02,5.699379e-03,4.879178e-03,1.045327e-01,9.600000e-07,3.072172e-01,1.542588e-02,9.831294e-02
23,1.958112e-02,6.094716e-03,1.046860e-02,4.411298e-02,5.077158e-02,2.506532e-01,4.880431e-02,9.831294e-02
24,2.591567e-02,7.237624e-02,1.351779e-01,9.800000e-01,8.356516e-01,8.400000e-01,4.452155e-02,1.147643e-01
25,2.591567e-02,7.237624e-02,1.351779e-01,9.800000e-01,8.356516e-01,8.400000e-01,4.452155e-02,1.147643e-01
26,3.927024e-02,4.943402e-02,4.639990e-02,1.482248e-01,8.115711e-02,1.972574e-01,2.845100e-02,1.678952e-01
27,5.618882e-02,4.724163e-02,3.006434e-02,2.510460e-01,1.623572e-02,2.436206e-01,2.972345e-02,1.678952e-01
28,9.948373e-02,3.775392e-02,2.670253e-02,1.299938e-01,1.810616e-01,1.221718e-01,1.472038e-02,1.678952e-01
29,2.774727e-02,3.829780e-02,2.947393e-02,5.679634e-01,6.877087e-01,3.722227e-01,1.035183e-07,1.968877e-07

In [ ]:
#평균값 구하기
mean_df=final.mean(axis=1)

mean_df=pd.DataFrame(mean_df)
mean_df.columns=['mean']
mean_df

In [259]:
rank_df=pd.concat([raw_df['name'],mean_df], axis=1, join='inner')

In [ ]:
# 내림차순 정렬
rank=rank_df.sort_values(by=['mean'], axis=0, ascending=False)
#rank

In [262]:
# rank 10 추출
rank=rank.drop_duplicates(['mean'])
rank_top10=rank.iloc[0:10, :]
rank_top10

             name      mean
25        성덕여자경로당  0.381051
3           덕산경로당  0.326394
1           은석경로당  0.301473
11          추동경로당  0.287303
4        원색장부녀경로당  0.259012
2          원색장경로당  0.255153
9           원당경로당  0.239356
8           학전경로당  0.238426
29  전북혁신베르디움3차경로당  0.215427
13         원석구경로당  0.207907

In [263]:
senior_df=pd.read_csv("final_senior_center.csv", encoding='utf-8')
jeonju_df=senior_df["borough"].str.contains("전주시")
senior_center=senior_df[jeonju_df] # 전주시 마을회관 데이터
senior_center.head(2)

,index,city,borough,name,address,X,Y,dong
0,1,전라북도,전주시 완산구,다가제일경로당,전라북도 전주시 완산구 전주천동로 200-50(다가동2가),127.140363,35.814468,중앙동
1,2,전라북도,전주시 완산구,태평 2경로당,전라북도 전주시 완산구 물레방아1길 43-68(태평동),127.136285,35.822145,중앙동

In [264]:
senior_center=senior_center[['name', 'X', 'Y']] # 필요 column 추출
#senior_center

             name           X          Y
0         다가제일경로당  127.140363  35.814468
1         태평 2경로당  127.136285  35.822145
2         태평 1경로당  127.138975  35.826229
3          연수정경로당  127.145157  35.817350
4         일심자모경로당  127.140980  35.818853
..            ...         ...        ...
617         동산경로당  127.153592  35.869172
618   만수(진흥2차)경로당  127.146591  35.864256
619  진흥더블파크1단지경로당  127.149085  35.861975
620   신동아2차아파트경로당  127.153277  35.857128
621  진흥더블파크3단지경로당  127.145591  35.865681

[622 rows x 3 columns]

In [265]:
# rank top 10 의 X Y 좌표 연결
final_rank_10=pd.merge(rank_top10, senior_center, on='name', how='left')
final_rank_10=final_rank_10.drop([final_rank_10.index[7]]) # 잘못된 값 삭제
final_rank_10

             name      mean           X          Y
0         성덕여자경로당  0.381051  127.031552  35.877579
1           덕산경로당  0.326394  127.197007  35.782683
2           은석경로당  0.301473  127.196743  35.795777
3           추동경로당  0.287303  127.111823  35.755008
4        원색장부녀경로당  0.259012  127.190565  35.800585
5          원색장경로당  0.255153  127.189840  35.800129
6           원당경로당  0.239356  127.170441  35.799420
8           학전경로당  0.238426  127.106320  35.764522
9   전북혁신베르디움3차경로당  0.215427  127.065986  35.834724
10         원석구경로당  0.207907  127.127193  35.763089

In [266]:
final_rank_10.to_csv("final_rank_10.csv", encoding='euc-kr') # csv 저장